<div class="navbar">
    <div class=""><span> <a class="" href="/">Find a Home</a> </span></div>
    <div class=""><span class=""><a class="" href="/bdrealtors">Meet a Realtor</a></span></div>
    <div class=""><span class=""><a class="" href="#">Mortgage Calculators</a></span></div>
    <div class=""><span class=""><a class="" href="#">Ideas & How-to</a></span></div>
    <div class="">
        <span class="">
        <a class="" href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a class="" href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a class="" href="#"><i class="fab fa-youtube-square fa-2x"></i></a>
      </span>
    </div>
</div>
