.btn{
  background-color: #fff;
  color:#000;
  text-decoration: none;
  display: inline-block;
  padding: .8rem 1.9rem;
  border-radius: 50px;
  margin: .6rem 1rem .5rem 0;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  a{
    color:#000;
    text-decoration: none;
  }

  &-post{
      background-color: #23a1c0;
      padding: .8rem 1.9rem;

      a{
        color: #fff;
        text-decoration: none;
      }
  }
}

/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 200px) {
  .btn{
    padding: .2rem .5rem;
    border-radius: 0;
    font-size: .6rem;
  }
}

/* For medium screens like iPad */
@media all and (max-width: 1020px) and (min-width: 768px) {
  .btn{
    padding: .3rem .7rem;
    border-radius: 50px;
    font-size: .8rem;
  }
}
/* For regular Laptop and desktop screens*/
@media all and (max-width: 1920px) and (min-width: 1021px) {
  .btn{
    padding: .5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
  }
}
