.row{
  max-width: 98%;
  margin-left: 1%;
}


.card_style{
  margin: .5rem 0;
  max-width: 24%;
  margin-left: auto;
  margin-right: auto;
  img{
    height: 200px;
    margin: auto;
  }
}

/* For small screens like mobile */
@media all and (max-width: 412px) and (min-width: 200px) {
  .row{
    max-width: 98%;
    margin-left: 2%;
  }
  .card_style{
    margin: .5rem 0 .5rem .5rem;
    max-width: 45%;
    img{
      height: 120px;
    }
  }
}

/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 413px) {
  .row{
    max-width: 97%;
    margin-left: 3%;
  }
  .card_style{
    margin: .5rem 0 .5rem .5rem;
    max-width: 45%;
    img{
      height: 120px;
    }
  }
}

/* For medium screens like iPad */
@media all and (max-width: 1024px) and (min-width: 768px) {
  .row{
    max-width: 98%;
    margin-left: 1%;
  }
  .card_style{
    margin: .5rem 0 .5rem .5rem;
    max-width: 32%;
    img{
      height: 150px;
    }
  }
}
/* For regular Laptop and desktop screens*/
@media all and (max-width: 1320px) and (min-width: 1025px) {
    .row{
      max-width: 94%;
      margin-left: 3%;
    }
    .card_style{
      margin: .5rem 0 .5rem .5rem;
      max-width: 30%;
      img{
        height: 180px;
      }
  }
}
