.filterNav{
  max-width:100%;
  background: #fff;
  border: 2px solid #fff;
  text-align: center;
  z-index: 10;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 80%;
  margin-top: 1rem;
  padding: .5rem 0 .5rem 0;
}


/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 200px) {
  .filterNav{
    margin-left: 65%;
    padding: .3rem 0 .3rem 0;
  }
}
