.getStarted{
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: .5fr 5fr 1fr;
  background-color: #156073;
  &_text{
    margin-top: 1.1rem;
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: auto;
  }
}

/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 200px) {
  .getStarted{
    grid-template-columns: .2fr 5fr 1fr;
    max-width: 100%;
  &_text{
    margin-top: .8rem;
    font-size: .9rem;
    margin-bottom: .5rem;
  }
  }
}

/* For medium screens like iPad */
@media all and (max-width: 1020px) and (min-width: 768px) {
  .getStarted{
  max-width: 100%;
  &_text{
    margin-top: .8rem;
    font-size: 1rem;
  }
  }
}
/* For regular Laptop and desktop screens*/
@media all and (max-width: 1920px) and (min-width: 1021px) {
  .getStarted{
  max-width: 100%;
  }
}
