html , body{
  width: 100%;
  letter-spacing: 0.05em;
  line-height: 1.2;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  background-color: #f0f5f5;
  overflow-x: hidden;
}

li{
  text-align: center;
  list-style: none;
  cursor: pointer;
  padding: 1rem .5rem;
}


p{
  line-height: 1.5;
}

i{
  font-size: 1.2rem;
  vertical-align: middle;
  font-weight: lighter;
}

.listings{
  width: 100%;
}

input[type=number]{
    width: 110px;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 98%;
  table-layout:auto;
}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
}

table th,
table td {
  padding: .325rem .625rem;
  text-align: center;
  font-size: .7rem;
}

@media screen and (max-width: 600px) {

  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 98%;
    table-layout:auto;
  }

  table th,
  table td {
    padding: .225rem .425rem;
    text-align: center;
    font-size: .6rem;
}
}
/* will be separated */

/* will be separated */



/* will be separated */

.center_button{
  text-align: center;
  margin: 1px auto;
  color: #000;
  letter-spacing: 0.05em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size-adjust: 100%;
  font-size: 1rem;
}

/* bootstrap manipulation */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: red;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #000;
  opacity: .3;
}

.carousel-indicators{
  opacity: .5;
  li{
    background-color: #444;
  }
}
.list-group-item{
  text-align: left;
}

/* will be separated */



/* will be separated */

.properties{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.properties_error{
    text-align: center;
}
.row{
  max-width: 98%;
  margin-left: 1%;
}

.realtor_image{
 width: 270px;
 height: 270px !important;
 border-radius: 50%;
}

.tabPanels{
  position: relative;
  margin-left: 5rem;
  input{
    display: inline-block;
    border: none;
    padding: .5rem 2rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border-radius: 3px 3px 0 0;
  }
  input:hover,
  input:focus {
      background: #0053ba;
      border: none;
  }

  input:focus {
      outline-offset: -4px;
      border: none;
  }

  input:active {
      transform: scale(0.99);
      border: none;
  }
}

.tabPanel_res{
  background-color: rgba(0,0,0,.6);
}
.tabPanel_com{
  background-color:  #23a1c0;
}



/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 200px) {
  .tabPanels{
    margin-left: 1rem;
    input{
      padding: .3rem .7rem;
      font-size: .8rem;
    }
  }

  select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
  }
}

/* For medium screens like iPad */
@media all and (max-width: 1020px) and (min-width: 768px) {
/* same as the largest screen*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
}
/* For regular Laptop and desktop screens*/
@media all and (max-width: 1920px) and (min-width: 1021px) {
/* same as the largest screen*/
}
