  .headerNav{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    max-width: 100%;
    margin: auto;
    background-color: #d0191d;
    z-index: 15;
    padding: 1.5rem 0;

    span{
      color: #fff;
      margin-left: 8%;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
