  .headerNav{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    max-width: 100%;
    margin: auto;
    background-color: #d0191d;
    z-index: 15;
    padding: 1rem 0;

    span{
      color: #fff;
      margin-left: 8%;
      font-weight: bold;
      font-size: 1.3rem;
    }
  }


  .navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-bottom:3px #eee solid;
    position: relative;
    max-width: 85%;
    margin: auto;
    background-color: #fff;
    z-index: 15;
    padding: 1rem 0;

    div{
      text-align: center;
      border-left: 1px solid #999;
      border-right: 1px solid #999;
      span{
          a:link, a:visited {
            color: #000;
            font-weight: bolder;
            text-align: center;
            text-decoration: none;
          }
          a:hover, a:active {
            color: red;
        }
      }
    }
    div:nth-of-type(1){
      border-left: 0;
      border-right: 0;
    }
    div:nth-of-type(5){
      border-left: 0;
      border-right: 0;
    }
  }
