/*Grid layout areas*/

/*--------------------------------------- */
/* Grid template area names are defined here*/
/*----------------------------------------*/

.headerNav{grid-area: hdn ;}
.featureProduct{grid-area:fp;}
.featureMedia{grid-area:fm;}
.featureAccess{grid-area:fa;}
.featureBundles{grid-area:fb;}
.placeOrder{grid-area:po;}
.modal{grid-area:mo}
.footerLinks{grid-area:fl;}
.footerCopy{grid-area:fc;}
.header-mobile{grid-area: hdnm ;}
/*------------------------------------------ */
/* Mobile first layout: This website has one */
/*  breakpoint at 767px;                     */
/*-------------------------------------------*/

/* Layout for max-width 767px*/
/*
.wrapper{
  display: grid;
}*/

/*Layout for larger screens from 768px to above*/

.wrapper{
  display: grid;
  max-width: 90%;
  margin: auto;
  grid-template:
                 "hdn"
                 "fp"
                 "fm"
                 "fa"
                 "fb"
                 "po"
                 "mo"
                 "fl"
                 "fc";
}
