.learnmore{
  padding: .5rem 0 0 0;
  max-width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba( 0, 0, 0, .7);
}
.learnmore_slider{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:350px;
  width: 50%;
}

.learnmore_text{
  font-size: 2rem;
  text-align: center;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-weight: bolder;
  background-color: rgba(0,0,0, .6);
}

/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 200px) {
  .learnmore{
    max-width: 100%;
  }
  .learnmore_slider{
    height:270px;
    width: 100%;
  }
  .learnmore_text{
    max-width: 90%;
    font-size: 1.2rem;
  }
}

/* For medium screens like iPad */
@media all and (max-width: 1020px) and (min-width: 768px) {
  .learnmore{
    max-width: 100%;
  }
  .learnmore_slider{
    height:270px;
    width: 75%;
  }
  .learnmore_text{
    font-size: 1.6rem;
    max-width: 80%;
  }
}
/* For regular Laptop and desktop screens*/
@media all and (max-width: 1920px) and (min-width: 1021px) {
  .learnmore{
    max-width: 100%;
  }
  .learnmore_slider{
    height:350px;
  }
}
