.modal1{
  position: absolute;
  top: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
}

.modal1-visible{
  opacity: .94;
  visibility: visible;
  position: absolute;
  top:60%;
  right: 30%;
  border-radius: 5px;
  width: 60%;
  background-color: #fff;
  ol{
    li{
      display: inline-block;
    }
  }
}

.modal1 button{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  border: none;
  background-color: #d0191d;
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
  transform: scaleX(1.5);
  transform-origin: 100% 0;
  cursor: pointer;
  border-radius: 0  0 5px 5px;
}

.modal-close{
  opacity: 0;
  visibility: hidden;
}


.footerLinks-modal__link{
  font-size: 1rem;
  font-weight: bolder;
}


/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 200px) {
  .footerLinks-modal__link{
    font-size: .7rem;
  }

  .modal1-visible{
    top: 47%;
    right: 2%;
    width: 96%;
    ol{
      li{
        display:block;
        text-align: left;
        margin-bottom: -1rem;
        font-size: .8rem;
      }
    }
  }
  .modal1 button{
    width: 20px;
    font-size: 1.5rem;
  }
}

/* For medium screens like iPad */
@media all and (max-width: 1023px) and (min-width: 768px) {
  .footerLinks-modal__link{
    font-size: .7rem;
  }

  .modal1-visible{
    top:64%;
    right: 2%;
    width: 96%;
    ol{
      li{
        text-align: left;
        margin-bottom: -1rem;
        font-size: .8rem;
      }
    }
  }
  .modal1 button{
    width: 20px;
    font-size: 1.5rem;
  }
}
/* For regular Laptop and desktop screens*/
@media all and (max-width: 1600px) and (min-width: 1024px) {
  .modal1-visible{
    top:64%;
    right: 2%;
    width:92%;
    ol{
      li{
        text-align: left;
        margin-bottom: -1rem;
        font-size: .8rem;
      }
    }
  }
}
