.modal1{
  z-index: 20;
  opacity: 0;
  visibility: hidden;
}

.modal1-visible{
  opacity: .9;
  visibility: visible;
  border-radius: 5px;
  width: 70%;
  background-color: #fff;
  margin-top: -2.5rem;
  ol{
    li{
      display: inline-block;
    }
  }
}

.modal1 button{
  position: relative;
  border: none;
  background-color: #d0191d;
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
  transform: scaleX(1.5);
  transform-origin: 100% 0;
  cursor: pointer;
  padding: .3rem;
}

.modal-close{
  opacity: 0;
  visibility: hidden;
}


.footerLinks-modal__link{
  font-size: 1rem;
  font-weight: bolder;
}


/* For small screens like mobile */
@media all and (max-width: 320px) and (min-width: 200px) {
  .footerLinks-modal__link{
    font-size: .7rem;
  }

  .modal1-visible{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    ol{
      li{
        display:block;
        text-align: left;
        font-size: .8rem;
      }
    }
  }
  .modal1 button{
    width: 20px;
    font-size: 1.5rem;
  }
}

/* For small screens like mobile */
@media all and (max-width: 767px) and (min-width: 321px) {
  .footerLinks-modal__link{
    font-size: .7rem;
  }

  .modal1-visible{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    ol{
      li{
        display:block;
        text-align: left;
        font-size: .8rem;
      }
    }
  }
  .modal1 button{
    width: 20px;
    font-size: 1.5rem;
  }
}
/* For medium screens like iPad */
 @media all and (max-width: 1023px) and (min-width: 768px) {
  .footerLinks-modal__link{
    font-size: .7rem;
  }

  .modal1-visible{
    margin-top: -3.2rem;
    ol{
      li{
        display:block;
        text-align: left;
        font-size: 1rem;
      }
    }
  }
  .modal1 button{
    width: 20px;
    font-size: 1.5rem;
  }
}
/* For regular Laptop and desktop screens*/
/*media all and (max-width: 1600px) and (min-width: 1024px) {
  .modal1-visible{
    top:64%;
    right: 2%;
    width:92%;
    ol{
      li{
        text-align: left;
        margin-bottom: -1rem;
        font-size: .8rem;
      }
    }
  }
} */
