<div class="footerLinks-modal filterNav">
  <a class="footerLinks-modal__link"> Filter with more options</a>
</div>
<div class="modal1">
  <button type="button" class="close" data-dismiss="modal" value="close">×</button>
<ol class="">
    <li class="">
        Bedrooms:<input type="Number"  name="bedroom" value="" disabled>
        <select class="" name="sale">
          <option  name="" value="">For:  </option>
          <option  name="sale" value="Sale">Sale </option>
          <option  name="sale" value="Lease">Lease </option>
          <option  name="sale" value="Sub Lease">Sub-Lease </option>
        </select>
    </li>

    <li class="">
      <select class="" name="measurement">
        <option name="" value="">Measurement</option>
        <option name="measurement" value="700">700 or less</option>
        <option name="measurement" value="1100"> 701 - 1100</option>
        <option name="measurement" value="1500">1101 -1500</option>
        <option name="measurement" value="1501">1501 & more</option>
      </select>
      <select class="" name="level">
        <option name="" value="">Floor</option>
        <option name="level" value="First Floor">1st Floor</option>
        <option name="level" value="Second Floor">2nd Floor</option>
        <option name="level" value="Third Floor"> 3rd Floor</option>
        <option name="level" value="Sixth Floor">4th, 5th or 6th Floor</option>
        <option name="level" value="Ninth Floor"> 7th, 8th or 9th Floor</option>
        <option name="level" value="Skyscrapper"> 10th or above</option>
      </select>
    </li>

  </ol>
</div>
