<div class="footerLinks-modal filterNav">
  <a class="footerLinks-modal__link"> Filter</a>
</div>
<div class="modal1">
  <button type="button" class="close" data-dismiss="modal" value="close">×</button>
<ol class="">
    <li class="">
        Min Price:<input type="number"  name="listprice" value="" id="minprice" disabled>
        Max Price:<input type="number"  name="listprice" value="" id="maxprice" disabled>
        Number of Beds: <input type="Number"  name="bedroom" value="" disabled>
    </li>

    <li class="">
      <select class="" name="measurement" size="3">
        <option name="" value="">Measurement</option>
        <option name="measurement" value="700">700 or less</option>
        <option name="measurement" value="1100"> 701 - 1100</option>
        <option name="measurement" value="1500">1101 -1500</option>
        <option name="measurement" value="1501">1501 & more</option>
      </select>
      <select class="" name="exteriortype" size="3">
        <option name="" value="">Property Type</option>
        <option name="exteriortype6" value="Apartment">Apartment</option>
        <option name="exteriortype7" value="House">House</option>
        <option name="exteriortype5" value="Land">Land</option>
        <option name="exteriortype3" value="Duplex">Duplex</option>
        <option name="exteriortype4" value="Multiplex">Multi-storey Building</option>
        <option name="exteriortype5" value="Store">Store</option>
        <option name="exteriortype5" value="Office">Office</option>
        <option name="exteriortype5" value="Market">Market</option>
      </select>
      <select class="" name="level" size="3">
        <option name="level" value="First Floor">1st Floor</option>
        <option name="level" value="Second Floor">2nd Floor</option>
        <option name="level" value="Third Floor"> 3rd Floor</option>
        <option name="level" value="Sixth Floor">4th, 5th or 6th Floor</option>
        <option name="level" value="Ninth Floor"> 7th, 8th or 9th Floor</option>
        <option name="level" value="Skyscrapper"> 10th or above</option>
      </select>
    </li>

  </ol>
</div>
