<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="keyRoles_slider1">
        <div class="">
          <img class="d-block w-100" src="/images/keyrole1.jpg" alt="First slide">
        </div>
        <div class="">
          <div class="title1">5 Key roles your REALTOR plays</div>
          <div class="point1">1. Paper Pro</div>
          <div class="paragraph1">
              If only buying a home was as simple as signing on the dotted line. However, there can be complicated conditions or clauses,
              elaborate legal terminology, inspection and disclosure requirements, lengthy insurance forms, ever-changing mortgage rules…
              the list of procedures and documents goes on. No matter how complex things get, a REALTOR® can help you get through it all.
          </div>
            <div class="center_button"><span class="btn">Meet a Realtor</span></div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="keyRoles_slider2">
        <div class="">
          <div class="title2">5 Key roles your REALTOR plays</div>
          <div class="point2">2. Marketing Expert </div>
          <div class="paragraph2">
              By working with a REALTOR®, you can maximize your property’s visibility and traffic online. A REALTOR® can highlight your home’s
              best qualities, include professional photos, video tours and more. Remember, only a REALTOR® can get your home advertised on REALTOR.ca,
              Canada’s No. 1 real estate site.
          </div>
          <div class="center_button"><span class="btn">Meet a Realtor</span></div>
        </div>
        <div class="">
          <img class="d-block w-100" src="/images/keyrole2.jpg" alt="First slide">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="keyRoles_slider1">
        <div class="">
          <img class="d-block w-100" src="/images/keyrole3.jpg" alt="First slide">
        </div>
        <div class="">
          <div class="title1">5 Key roles your REALTOR plays</div>
          <div class="point1">3. Pricing Advisor</div>
          <div class="paragraph1">
              A REALTOR® can help you enter the market at the right time, analyze market trends and provide advice on current pricing in the market.
              When it comes to making the most significant purchase of your life, don’t guess on price. Get the professional advice of a REALTOR®.
          </div>
          <div class="center_button"><span class="btn">Meet a Realtor</span></div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="keyRoles_slider2">
        <div class="">
          <div class="title2">5 Key roles your REALTOR plays</div>
          <div class="point2">4. Negotiator Extraordinaire</div>
          <div class="paragraph2">
              Negotiating a property sale is considered one of the most intimidating aspects of the home buying process. A determined
              REALTOR® is a force to be reckoned with when finalizing a property sale;
              experience and familiarity of local markets can give REALTORS® a clear advantage to represent your best interest.
          </div>
          <div class="center_button"><span class="btn">Meet a Realtor</span></div>
        </div>
        <div class="">
          <img class="d-block w-100" src="/images/keyrole4.jpg" alt="First slide">
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="keyRoles_slider1">
        <div class="">
          <img class="d-block w-100" src="/images/keyrole5.jpg" alt="First slide">
        </div>
        <div class="">
          <div class="title1">5 Key roles your REALTOR plays</div>
          <div class="point1">5. Your Home Buying MVP</div>
          <div class="paragraph1">
              It's normal to experience a range of emotions when facing one of the largest financial decisions of your life. REALTORS® can help you keep your
              emotions in check and make level-headed decisions. With an address book full of trusted professionals—lawyers,
              mortgage specialists, and home inspectors—a REALTOR® can be your resource when navigating the complex process of buying or selling a home.
          </div>
          <div class="center_button"><span class="btn">Meet a Realtor</span></div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
