<div id="carouselExampleIndicators" class="carousel slide" data-ride="">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="learnmore_slider">
          <div class="learnmore_text">
            REALTORS are the love of communities
          </div>
          <div class="">
            <img class="d-block w-100" src="/images/learnmore2.jpg" alt="First slide">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="learnmore_slider">
          <div class="learnmore_text">
            Nothing is sadder than regretting the largest transaction of your life
          </div>
          <div class="">
            <img class="d-block w-100" src="/images/learnmore3.jpg" alt="Second slide">
          </div>
        </div>
      </div>
    </div>
</div>
