
<div class="search_box">
  <div class="tabPanels">
      <input type="button" name="propertyclass" value="Residential" class="tabPanel tabPanel_res"/>
      <input  type="button" name="propertyclass" value="Commercial" class="tabPanel tabPanel_com"/>
  </div>
  <div class="search_1">
    <div class="">
        <select class="" name="area">
              <option  name="" value=""> Area </option>
              <option  name="area1" value="Adabar">Adabar</option>
              <option  name="area2" value="Azampur">Azampur</option>
              <option  name="area3" value="Badda">Badda</option>
              <option  name="area4" value="Bangsal">Bangsal</option>
              <option  name="area5" value="Bimanbandar">Bimanbandar</option>
              <option  name="area6" value="Cantonment">Cantonment</option>
              <option  name="area7" value="Chowkbazar">Chowkbazar</option>

              <option  name="area8" value="Darus Salam">Darus Salam</option>
              <option  name="area9" value="Demra">Demra</option>
              <option  name="area10" value="Dhanmondi">Dhanmondi</option>
              <option  name="area11" value="Gendaria">Gendaria</option>
              <option  name="area12" value="Gulshan">Gulshan</option>
              <option  name="area13" value="Hazaribagh">Hazaribagh</option>
              <option  name="area14" value="Kadamtali">Kadamtali</option>

              <option  name="area15" value="Kafrul">Kafrul</option>
              <option  name="area16" value="Kalabagan">Kalabagan</option>
              <option  name="area17" value="kamrangirchar">kamrangirchar</option>
              <option  name="area18" value="Khilgoan">Khilgoan</option>
              <option  name="area19" value="Khilkhet">Khilkhet</option>
              <option  name="area20" value="Kotwali">Kotwali</option>
              <option  name="area21" value="Lalbagh">Lalbagh</option>

              <option  name="area22" value="Mirpur">Mirpur</option>
              <option  name="area23" value="Mohammadpur">Mohammadpur</option>
              <option  name="area24" value="Motijheel">Motijheel</option>
              <option  name="area25" value="New Market">New Market</option>
              <option  name="area26" value="Pallabi">Pallabi</option>
              <option  name="area27" value="Paltan">Paltan</option>
              <option  name="area28" value="Panthapath">Panthapath</option>

              <option  name="area29" value="Ramna">Ramna</option>
              <option  name="area30" value="Rampura">Rampura</option>
              <option  name="area31" value="Shabujbagh">Shabujbagh</option>
              <option  name="area32" value="Shah Ali">Shah Ali</option>
              <option  name="area33" value="Sher-e-Bangla Nagar">Sher-e-Bangla Nagar</option>
              <option  name="area34" value="Shyampur">Shyampur</option>
              <option  name="area35" value="Sutrapur">Sutrapur</option>

              <option  name="area36" value="Tejgoan">Tejgoan</option>
              <option  name="area37" value="Tejgoan Industrial Area">Tejgoan Industrial Area</option>
              <option  name="area38" value="Turag">Turag</option>
              <option  name="area39" value="Uttar Khan">Uttar Khan</option>
              <option  name="area40" value="Uttara">Uttara</option>
              <option  name="area41" value="Vatara">Vatara</option>
              <option  name="area42" value="Wari">Wari</option>
        </select>
    </div>
    <div class="">
      <select class="" name="listprice">
        <option name="" value="">Min Price</option>
        <option name="listprice1" value="0">0</option>
        <option name="listprice2" value="10000">10,000</option>
        <option name="listprice3" value="50000">50,000</option>
        <option name="listprice4" value="80000">80,000</option>
        <option name="listprice5" value="100000">1,00,000</option>
        <option name="listprice6" value="150000">1,50,000</option>
        <option name="listprice7" value="200000">2,00,000</option>
        <option name="listprice8" value="250000">2,50,000</option>
      </select>
    </div>
    <div class="">
      <select class="" name="listprice">
        <option name="" value="">Max Price</option>
        <option name="listprice11" value="10000">10,000</option>
        <option name="listprice12" value="100000">1,00,000</option>
        <option name="listprice13" value="500000">5,00,000</option>
        <option name="listprice14" value="800000">8,00,000</option>
        <option name="listprice15" value="1000000">10,00,000</option>
        <option name="listprice16" value="1500000">15,00,000</option>
        <option name="listprice17" value="2000000">20,00,000</option>
        <option name="listprice18" value="2500000">25,0,000</option>
      </select>
    </div>

    <div class="">
      <select class="" name="sale">
        <option  name="" value="">For:  </option>
        <option  name="sale1" value="Sale">Sale </option>
        <option  name="sale2" value="Lease">Lease </option>
        <option  name="sale3" value="Sub Lease">Sub-Lease </option>
      </select>
    </div>
    <div class="">
        <button type="submit" name="submit" value="submit"><i class="fas fa-search fa-2x"></i></button>
    </div>
  </div>
</div>
